.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.DS_Store
.Rbuildignore
.Rproj
.Rdata
.rdb
.rdx
.Rmd
.text
logitr.Rproj
tests/.DS_Store
data/.DS_Store
README.Rmd
Vignette/logitr.Rmd
Vignette/logitr_cache/html/*.rdb
Vignette/logitr_cache/html/*.rdx
Vignette/logitr_cache/html/*.Rdata
Vignette/logitr_cache/latex/*.rdb
Vignette/logitr_cache/latex/*.rdx
Vignette/logitr_cache/latex/*.Rdata
README_cache/markdown_github/*.rdb
README_cache/markdown_github/*.rdx
README_cache/markdown_github/*.Rdata
Vignette_cache/html/*.rdb
Vignette_cache/html/*.rdx
Vignette_cache/html/*.Rdata
