.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.DS_Store
.Rbuildignore
.Rproj
.Rdata
.rdb
.rdx
.Rmd
logitr.Rproj
tests/.DS_Store
data/.DS_Store
README.Rmd
vignette/logitr.Rmd
vignette/logitr_cache/html/*.rdb
vignette/logitr_cache/html/*.rdx
vignette/logitr_cache/html/*.Rdata
vignette/logitr_cache/latex/*.rdb
vignette/logitr_cache/latex/*.rdx
vignette/logitr_cache/latex/*.Rdata
